.Container {
  border: 1px solid rgb(191, 191, 191);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  &:hover {
    background-color: #666;
  }
}
.Selected {
  background-color: lightgray;
  &:hover {
    background-color: lightgray;
  }
}
.Name {
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 16px;
  color: rgb(38, 38, 38);
}
.Date,
.Location {
  line-height: 18px;
  font-size: 14px;
  color: rgba(38, 38, 38, 0.65);
}
.Price {
  margin-top: 20px;
}
